@import "../../node_modules/normalize.css/normalize";
@import "vars";
@import "libs";

@import "media";

body {
    box-sizing: border-box;

    margin: 0;
    
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #000000;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
a {
    text-decoration: none;
}
/* ===============Container==============*/

.container {
    width: 100%;
    max-width: 1213px;
    margin: 0 auto;
    
}

.title{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
}

.read-more{
    align-items: center;
    display: inline-flex;

    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;

    color: #0063DD;
    
    &:after{
        
        display: inline-flex;;
        content: "";
        margin-left: 15px;
        width: 68px;
        height: 16px;
        background-image: url(../images/arrow.svg);
        
        
    }

}

.btn {
    width: 165px;
    height: 50px;

    border-radius: 25px;
    cursor: pointer;

    
    font-size: 16px;
    
    font-weight: 700;
    line-height: 20px;
    
    text-decoration: none;
    text-align: center;

    &--white{
        background-color: $white;
        border: 2px solid $blue;
        color: $blue;

        &:hover{
            background-color: #0063DD;
            color: #fff;
        }
    }

    &--blue{
        background-color: #0063DD;
        color: #fff;

        &:hover{
            background-color: $white;
            border: 2px solid $blue;
            color: $blue;
        }
    }
    + .btn{
        margin-left: 30px;
    }
}


.item__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.item__info{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}


/* ===============Header=================*/

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}


.header__logo{
    width: 179px;
    height: 100px;
    background-color: $blue;
   
    border-radius: 0px 0px 21.5px 21.5px;
    text-align: center;
    padding-top: 25px;   
}

.header__name{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    
    color: $white; 
}

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    

}
.nav__link {
    margin-right: 40px;

    color: $gray;
    text-decoration: none;
    transition: color .1s linear;


    &:hover {
    color: $blue;
    }

    &:nth-child(4){
        margin-right: 52px;
    }
}


.intro{
    display: flex;
    
    width: 100%;
    height: 100vh;
    max-height: 1029px;
    overflow: hidden;
    
    
    background: url("../images/bg.jpg") center no-repeat;
    background-size: cover;

    &__inner{
        max-width: 655px;
        
        margin: 188px auto 0;
        text-align: center;
    }

    &__title{
        margin-bottom: 30px;

        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
    }

    &__text{
        margin-bottom: 33px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;

        color: #929292;
    }
}

.devices {
    margin: 88px auto 0;
    position: relative;
    vertical-align: bottom;
    
    height: 514px;
    width: 804px;

    
    
    
    
}

.devices__item2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: 409px;
    height: auto;
    z-index: 2;
    
}

.devices__item1 {
    position: absolute;
    top: 91px;
    left: -43px;
    z-index: 1;
} 

.devices__item3 {
    position: absolute;
    top: 91px;
    right: -25px;
    z-index: 1;
} 


.functions{
    width: 100%;
    height: 635px;
    background-color: #F5FCFD;
    text-align: center;
}
.functions__row{
    display: inline-flex;
    flex-wrap: wrap;
   
    margin: 0 auto;
    padding: 165px 0;
}
.func-item{
    flex: 0 1 362px;
    margin: 0 15px;
    
    height: 290px;
    background-color: $white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    
    &:nth-child(2){
        margin-top: 40px;
    }

    &__icon{
        padding: 45px 0 20px;
    }
    
    &__title{
        padding-bottom: 25px;
        
    }

    &__info{
        padding: 0 15px;
        
    }
}

.features{
    padding: 60px 0 116px;
    text-align: center;


    &__row{
        
        max-width: 1213px;
        display: inline-flex;
        margin: 0 0 233px;
        align-items: center;
    }

    &__img{
        position: relative;
        flex: 0 0 558px;
        margin-right: 112px;
        z-index: 1;
    }

    &__body{
        flex: 1 1 auto;
        
        text-align: left;
        
    }

    &__title{
        margin-bottom: 30px;
    }

    &__desc{
        margin-bottom: 35px;
        line-height: 150%;

    }        

}
.features__img1:before{
    display: block;
    content: "";
    width: 389px;
    height: 482px;
    background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);

    position: absolute;
    left: 0;
    top: -40px;
    z-index: -1;
}

.features__img2:before{
    display: block;
    content: "";
    width: 389px;
    height: 482px;
    background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
    border-radius: 40px;
    transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);

    position: absolute;
    right: 0;
    top: 30px;
    z-index: -1;
}


.work{
    width: 100%;
    height: 635px;
    background-color: #F5FCFD;
    text-align: center;

    &__title{
        padding-top: 119px;
        font-weight: 400;
    }

    &__text{
        margin: 25px auto 45px;
        max-width: 722px;
    }

    &__row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -29px;
        
    }
}

.work-item{
    flex: 0 1 33.333%;
    width: 331px;
    padding: 0 29px;
    margin: 0 auto;

    &__title{
        padding: 30px 0 20px;
    }

    &__info{
        line-height: 150%;
    }
}

.pricing{
    margin: 130px auto;
    &__row{

        display: inline-flex;
        margin: 0 0 233px;
        align-items: center;
    }

    &__main{
        flex: 0 1 332px;
        text-align: left;
        margin-right: 45px;
    }

    &__text{
        padding: 30px 0 40px;
    }

}
.pricing-item{
    flex: 0 1 33.333%;

    background: $white;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
    text-align: center;
    padding: 39px 30px 46px;
    margin: 0 15px;

    &__icon{
        margin: 31px 0 20px;
    }

    &__title{
        font-weight: bold;
        padding-bottom: 25px;
        border-bottom: 2px solid #E9F3F8;
    }

    &__info{
        line-height: 184%;
        padding: 25px 0 26px;
    }

    &__price{
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #0F7BFF;
        margin-bottom: 25px;

        span{
            font-size: 18px;
        }
    }
}

.reviews{
    width: 100%;
    height: 601px;
    text-align: left;
    background-color: #F5FCFD;
    
    img{
        margin-right: 98px;
    }
    
    &__row{
        display: flex;
    }
       

    &__title{
        padding: 113px 0 40px;
        font-weight: 700;
    }
}
.slider-item{
    max-width: 362px;
    max-height: 215px;
    background-color: $white;
    padding: 40px 30px;
    position: relative;

    &__name{
       
    }

    &__prof{
        font-size: 14px;
        line-height: 17px;
        color: #999999;
        margin: 10px 0 25px;
    }

    &__info{
        color: #999999;
    }

    img{
        margin: 0;
        position: absolute;
        top: 25%;
        right: 10%;
        z-index: 2;

    }
}


    



